
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%),url("https://images.pexels.com/photos/3960037/pexels-photo-3960037.jpeg?cs=srgb&dl=pexels-bearmax-3960037.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  padding: 3rem;
}
form{
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
  margin: 2rem;
}
h2{
  color: rgb(77, 1, 77);
  text-align: center;
}

button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
span{
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}
input:invalid[focused="true"] {
  border: 1px solid red;
}
input:invalid[focused="true"] ~ span {
  display: block;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
